ignored
ignored/*.*
*.pdb
*.idb
*.log
*.obj
*.so
*.o
*.lastbuildstate
*.sdf
*.tlog
*.opensdf
*.ilk
*.lib
*.dll
*.db
*.cache
*.pch
*.opendb
*.suo
/.vs
/.xs
/build*
/.vscode
/**/.DS_Store
/site
/_site
*.xsxproj
/out*
/tools/external
cache