[submodule "examples/ftp_server"]
	path = examples/ftp_server
	url = https://github.com/simdsoft/ftp_server
[submodule "examples/lua/luajit"]
	path = examples/lua/luajit
	url = https://github.com/LuaJIT/LuaJIT
[submodule "yasio/kcp"]
	path = yasio/kcp
	url = https://github.com/skywind3000/kcp
