ignored
ignored/*.*
*.pdb
*.idb
*.log
*.obj
*.lastbuildstate
*.sdf
*.tlog
*.opensdf
*.ilk
*.lib
*.dll
*.db
*.cache
*.pch
*.opendb
*.suo
/.vs
/.vs
/test/x64/Debug
/test/Debug
/test/.vs/xxsocket_test-vc14/v15/Preview/ipch/AutoPCH
