Makefile
config.log
config.cache
config.status
autom4te.cache
dist_tmp
adns-*.tar.gz
adns-*.tar.gz.sig
common.make
settings.make
*.tmp*
*.o
*.so
*.a
*~
adnshost.txt
x.gdb
client/Makefile
client/adnstest_s
client/fanftest_s
client/addrtext_s
client/adnslogres
client/adnslogres_s
client/adnsheloex
client/adnsheloex_s
client/adnshost
client/adnshost_s
client/adnsresfilter
client/adnsresfilter_s
dynamic/Makefile
dynamic/libadns.so.*
regress/Makefile
regress/*_record
regress/*_playback
regress/output-*.*
regress/pipe.out
regress/pipe.err
src/Makefile
src/config.h
web
