mkdocs-material>=7.2.6
cffi==1.14.6
pytest-runner==5.3.1
WeasyPrint==53.0
mkdocs-pdf-export-plugin>=0.5.9
mkdocs-minify-plugin>=0.3.0
mike>=1.0.0
Pillow==9.3.0
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects>=1.0
