name: windows

on:
  push:
    paths:
      - yasio/**/*
      - thirdparty/**/*
      - tests/**/*
      - examples/**/*
      - CMakeLists.txt
      - .github/workflows/windows-ci.yml
      - scripts/**/*
      - extensions/**/*

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  PING_HOST: github.com

jobs:
  msvc:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - x86
          - x64
    env:
      BUILD_ARCH: ${{ matrix.arch }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - uses: ilammy/msvc-dev-cmd@v1.12.0
      with: 
        arch: ${{ env.BUILD_ARCH }}
        uwp: 'false'

    - name: Build
      run: scripts\build.ps1 -p win32 -a $env:BUILD_ARCH
  clang:
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - uses: ilammy/msvc-dev-cmd@v1.12.0
      with: 
        arch: ${{ env.BUILD_ARCH }}
        uwp: 'false'

    - name: Build
      run: scripts\build.ps1 -p win32 -cc clang
  mingw:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - uses: msys2/setup-msys2@v2
      with: 
        msystem: mingw64
        install: mingw-w64-x86_64-toolchain
    - name: Build
      run: scripts\build.ps1 -p win32 -cc 'mingw-gcc'
  winuwp:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - x64
          - arm64
    env:
      BUILD_ARCH: ${{ matrix.arch }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - uses: ilammy/msvc-dev-cmd@v1.12.0
      with: 
        arch: ${{ env.BUILD_ARCH }}
        uwp: 'true'

    - name: Build
      run: scripts\build.ps1 -p winuwp -a $env:BUILD_ARCH
